# Забороняємо додавати ВСІ PDF-файли (щоб не перевищити ліміт GitHub)
*.pdf

# На всякий випадок, виключаємо папку з інструкціями (якщо там будуть інші важкі файли)
# Але дозволяємо папку з картинками
Моделі/інструкції/*
!Моделі/інструкції/зображення/
!Моделі/інструкції/зображення/*

# Системні файли Windows / Mac
.DS_Store
Thumbs.db
Desktop.ini
